<div class="footer bg-white">
    <nav class="nav nav-pills nav-justified">
         <a class="nav-item nav-link font-small-3 {{menuClassName}}" href="{{baseHref}}home"><i class="fas fa-home"></i><br>{{local.home}}</a>         
         <a class="nav-item nav-link font-small-3 {{menuClassName}}" href="{{baseHref}}jobs"><i class="fas fa-clipboard"></i><br>{{local.jobs}}</a>         
         <a class="nav-item nav-link font-small-3 {{menuClassName}}" href="{{baseHref}}timesheets"><i class="fas fa-user-clock"></i><br>{{local.timesheets}}</a>         
     </nav>
 </div>
    
 
 
 
 