<div *ngIf="showList" class="card">
    <div class="card-header">
        <h4 class="card-title">Jobs</h4>
    </div>
    <div class="card-body">
        <div  class="card-block">
            <h5>Today's Schedule</h5>
            <table class="table" [ngClass]="{'table-responsive': mobile || tablet}">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Company</th>
                        <th>Location</th>
                        <th>SMO</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of todayJobs">
                        <td>{{item.time}}</td>
                        <td>{{item.company}}</td>
                        <td>{{item.location}}</td>
                        <td>{{item.smo}}</td>
                        <td>
                           
                                <button (click)="action('download', item)" title="Download for offline" *ngIf="!item.downloaded" type="button" class="btn btn-raised btn-block btn-info"><i class="fas fa-download"></i> Download</button>                                
                                <button (click)="action('start', item)" title="Start job" *ngIf="item.downloaded && !item.started" type="button" class="btn btn-raised btn-block btn-success"><i class="far fa-play-circle"></i> Start</button>
                                <button (click)="action('continue', item)" title="Continue job" *ngIf="item.downloaded && item.started && !item.completed && !item.synced" type="button" class="btn btn-raised btn-block btn-warning"><i class="far fa-pause-circle"></i> Continue</button>
                                <button (click)="action('sync', item)" title="Sync job" *ngIf="item.downloaded && item.started && item.completed && !item.synced" type="button" class="btn btn-raised btn-block btn-danger"><i class="fas fa-sync"></i> Sync</button>                                
                                <button (click)="action('completed', item)" title="Job Completed" *ngIf="item.downloaded && item.started && item.completed && item.synced" type="button" class="btn btn-raised btn-block btn-light"><i class="fas fa-check"></i> Completed</button>                                
                          
                        </td>
                    </tr>
                </tbody>
            </table>
            <h5>10 June 2019</h5>
            <table class="table" [ngClass]="{'table-responsive': mobile || tablet}">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Company</th>
                        <th>Location</th>
                        <th>SMO</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of jobs">
                        <td>{{item.time}}</td>
                        <td>{{item.company}}</td>
                        <td>{{item.location}}</td>
                        <td>{{item.smo}}</td>
                        <td>
                                <button (click)="action('download', item)" title="Download for offline" *ngIf="!item.downloaded" type="button" class="btn btn-raised btn-block btn-info"><i class="fas fa-download"></i> Download</button>                                
                                <button (click)="action('start', item)" title="Start job" *ngIf="item.downloaded && !item.started" type="button" class="btn btn-raised btn-block btn-success"><i class="far fa-play-circle"></i> Start</button>
                                <button (click)="action('continue', item)" title="Continue job" *ngIf="item.downloaded && item.started && !item.completed && !item.synced" type="button" class="btn btn-raised btn-block btn-warning"><i class="far fa-pause-circle"></i> Continue</button>
                                <button (click)="action('sync', item)" title="Sync job" *ngIf="item.downloaded && item.started && item.completed && !item.synced" type="button" class="btn btn-raised btn-block btn-danger"><i class="fas fa-sync"></i> Sync</button>                                
                                <button (click)="action('completed', item)" title="Job Completed" *ngIf="item.downloaded && item.started && item.completed && item.synced" type="button" class="btn btn-raised btn-block btn-light"><i class="fas fa-check"></i> Completed</button>                                
                          
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div *ngIf="showJob" class="card">
    <div class="card-header">
        <h4 class="card-title">{{selectedJob.company}} - {{selectedJob.smo}}</h4>
    </div>
    <div class="card-body">
        <div class="card-block">
            <ngb-accordion [closeOthers]="true" activeIds="static-1">
                <ngb-panel id="static-1">
                <ng-template ngbPanelTitle>
                            <span>Introduction</span>
                  </ng-template>
                  <ng-template ngbPanelContent>
                   <p>This is the introduction</p>
                  </ng-template>
                </ngb-panel>
                <ngb-panel id="static-2">
                        <ng-template ngbPanelTitle>
                                    <span>Mandatory Requirements</span>
                          </ng-template>
                          <ng-template ngbPanelContent>
                            <div class="row">
                                <div class="col-sm-9">
                                    <label for="criteria">Have the mandatory requirements been met?</label>
                                </div>    
                                <div class="col-sm-3">
                                    <label class="switch">
                                        <input type="checkbox" (change)="markReq()" id="criteria" name="criteria">
                                        <span class="slider round"></span>
                                    </label>
                                </div>               													
                            </div>
                            <div *ngIf="showListGroup" class="row">
                                <div class="col-sm-12">
                                       <div *ngIf="selectedReq == null" class="list-group">
                                           <a *ngFor="let c of choices" (click)="selectChoice(c)" class="list-group-item list-group-item-action">{{c.label}}</a>                                        
                                       </div>
                                       <p>{{selectedReq?.label}}</p>
                                </div>
                            </div>
                          </ng-template>
                        </ngb-panel>
                        <ngb-panel id="static-3">
                                <ng-template ngbPanelTitle>
                                            <span>Findings</span>
                                  </ng-template>
                                  <ng-template ngbPanelContent>
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <label for="criteria2">Has this item met the criteria?</label>
                                        </div>    
                                        <div class="col-sm-3">
                                            <label class="switch">
                                                <input type="checkbox" (change)="markCriteria()" id="criteria2" name="criteria2">
                                                <span class="slider round"></span>
                                            </label>
                                        </div>               													
                                    </div>
                                    <div *ngIf="showDropdown" class="row">
                                        <div class="col-sm-12">
                                            <select *ngIf="selectedCriteria == null" (ngModelChange)="onChange($event)" class="form-control" [(ngModel)]="selectedCriteria">
                                                <option *ngFor="let c of choices" [ngValue]="c">{{c.label}}</option>
                                            </select>
                                            <p>{{selectedCriteria?.label}}</p>
                                        </div>
                                    </div>
                                        

                                
                                  </ng-template>
                                </ngb-panel>
                                <ngb-panel id="static-4">
                                        <ng-template ngbPanelTitle>
                                                    <span>Certificate Assessment Program</span>
                                          </ng-template>
                                          <ng-template ngbPanelContent>
                                                <p>This is the Certificate Assessment Program</p>
                                          </ng-template>
                                        </ngb-panel>
              </ngb-accordion>
              <button (click)="complete()" type="button" class="btn btn-primary btn-block btn-raised">Submit</button>
        </div>
    </div>
</div>