<div class="container-fluid bg-white">
    <div class="row">
        <div *ngIf="!desktop" class="col">
          <img src="" style="max-height: 50px">         
        </div>       
        <div class="col text-right">   
          <div id="btnUserSettings" ngbDropdown class="d-inline-block btnUserSettings" placement="bottom-right">
            <button class="btn darken-1 btn-outline-red" id="dropdownBasic1" ngbDropdownToggle><i class="far fa-user"></i></button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button (click)="signOut()" class="dropdown-item">{{local.logout}}</button>
            </div>
          </div>
        </div>
      </div>
      
</div>

