<div class="container-fluid topnav">
    <div class="row">
        <div class="col">
          <img class="img-responsive" src="" style="max-height: 50px">         
        </div>       
        <div class="col text-right">   
          <div id="btnUserSettings" ngbDropdown class="d-inline-block btnUserSettings" placement="bottom-right">
            <button class="btn btn-light" id="dropdownBasic1" ngbDropdownToggle><i class="far fa-user"></i></button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button (click)="signOut()" class="dropdown-item">Log out</button>
            </div>
          </div>
        </div>
      </div>
      
</div>

