<div class="card">
    <div class="card-header">
        <h4 class="card-title">Dashboard</h4>
    </div>
    <div class="card-body">
        <div class="card-block">
            <h5>Notifications</h5>
            <p *ngFor="let alert of alerts">
                <a (click)="goTo(alert.location)">
                    <ngb-alert [type]="alert.type" (close)="close(alert)">{{ alert.message }}</ngb-alert>
                </a>                
            </p>
            <h5 class="mt-3">Today's schedule</h5>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Client</th>
                        <th>Location</th>
                    </tr>
                </thead>
                <tbody>
                    <tr (click)="goTo('/jobs')">
                        <td>10:00 a.m.</td>
                        <td>XYZ Company</td>
                        <td>Milton Keynes</td>
                    </tr>
                    <tr (click)="goTo('/jobs')">
                        <td>12:00 p.m.</td>
                        <td>WWW Land</td>
                        <td>Milton Keynes</td>
                    </tr>
                    <tr (click)="goTo('/jobs')">
                        <td>2:00 p.m.</td>
                        <td>P&E</td>
                        <td>Milton Keynes</td>
                    </tr>
                    <tr (click)="goTo('/jobs')">
                        <td>4:00 p.m.</td>
                        <td>ABC Ltd</td>
                        <td>Milton Keynes</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>